<h1 style="text-align: center">Regisztráció</h1>


<div class="row">

<form class="form-signin col-sm-4 col-sm-offset-4" method="POST" action="/auth/signup">
  <h4 class="form-signin-heading">Kérjük, jelentkezzen be!</h4>
  <label for="username" class="sr-only">Felhasználó</label>
  <input type="text" id="username" name="username" class="form-control" placeholder="Felhasználónév" required autofocus>
  <label for="password" class="sr-only">Jelszó</label>
  <input type="password" id="password" name="password" class="form-control" placeholder="Jelszó" required>
  <label for="password-confirm" class="sr-only">Jelszó újra</label>
  <input type="password" id="password-confirm" name="password-confirm" class="form-control" placeholder="Jelszó" required>
  <label for="firstname" class="sr-only">Keresztnév</label>
  <input type="text" id="firstname" name="firstname" class="form-control" placeholder="Keresztnév" required>
  <label for="lastname" class="sr-only">Vezetéknév</label>
  <input type="text" id="lastname" name="lastname" class="form-control" placeholder="Vezetéknév" required>
  <br />
  <button class="btn btn-lg btn-primary btn-block" type="submit">Regisztrálás</button>
</form>


</div>